

@{
    Layout = null;
}

<!doctype html>

<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Freelancer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- icons & favicons -->

    <link rel="apple-touch-icon" sizes="57x57" href="../../Content/static/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../../Content/static/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../../Content/static/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../../Content/static/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../../Content/static/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../../Content/static/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../Content/static/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="s../../Content/tatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="../../Content/static/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../../Content/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../Content/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../../Content/static/favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="../../Content/static/favicon-196x196.png" sizes="196x196" />
    <meta name="msapplication-TileColor" content="#d40000" />
    <meta name="msapplication-TileImage" content="../../Content/static/mstile-144x144.png" />

    <!--<link rel="shortcut icon" href="static/favicon.png">-->
    <!-- For everything else -->
    <link rel="shortcut icon" href="../../Content/static/favicon.ico">

    <!--[if lt IE 9]>
        <script src="static/components/es5-shim/es5-shim.js"></script>
        <script src="static/components/json3/lib/json3.min.js"></script>
        <script src="static/components/html5shiv/html5shiv.js"></script>
    <![endif]-->
    <!-- Layout Styles Dependencies -->

    <link rel="stylesheet" href="../../Content/static/CACHE/css/5670482863bb.css" type="text/css" />




    <!-- Layout Styles Dependencies -END -->
    <!-- View Styles Dependencies -->


    <link rel="stylesheet" href="../../Content/static/CACHE/css/24cf909d3e7c.css" type="text/css" />


    <!-- View Styles Dependencies - END -->

</head>
<body>





    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars fa-lg fa-fw fa-inverse"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../../Content/static/reform-logo.png" -width="50" -height="35" height="26" alt="Tunisian Institutional Reform"></a>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    <li class="active"><a href="../../Platform/PostClaim"><i class="fa fa-plus"></i> Post Claim</a></li>
                    <li class="active"><a href="../../Platform/TestAddFriend"><i class="fa fa-plus"></i> Add a friend</a></li>
                    <li class="active"><a href="../../Platform/ListRequest"><i class="fa fa-plus"></i>Friends requests</a></li>
                    <li class="active"><a href="../../Platform/ListFriends"><i class="fa fa-plus"></i> Friends list</a></li>
                    <li class="active"><a href="../../Jobs/Index"><i class="fa fa-plus"></i> Job proposals</a></li>
                    
                   

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle needsclick" data-toggle="dropdown">
                            <i class="fa fa-user"></i>

                            <span>@Session["name"]</span>

                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">

                            <li><a href="../../ManageUser/beforedet"><i class="fa fa-user"></i> Profile</a></li>

                            <li><a href="../../Platform/Signout"><i class="fa fa-sign-out"></i> Sign out</a></li>
                        </ul>

                    </li>

                </ul>

            </div><!--/.navbar-collapse -->
    </nav>




    <!-- View -->
    <div class="container">





    </div>
    <!-- View - END -->

    <div id="footer">
        <div class="container text-center">



            <div class="text-muted credit" style="display: inline-block; padding: 6px;">




                @RenderBody()







                Developed by <a href="" target="_blank" class="">
                    <span class="inline-hidden-xs inline-hidden-sm">Freelancer</span>
                    <span class="inline-hidden-md inline-hidden-lg">REFORM Association</span>


            </div>
        </div>



        <script type="text/javascript">
            var csrf_token = "DbN6H3zB4Vj5UVFOIgExoQaVGVeRAGLB";

            var reform = {
                data: {},
                widgets: {},
                urls: {},
                i18n: {},
                l10n: {},
            };

            reform.i18n.language = "en";
            reform.i18n.bidi = false;
            reform.i18n.languages = ["en", "ar"];

            reform.l10n.TIME_ZONE = "Africa/Tunis";

        </script>

        <!--<script type="text/javascript" src="/i18n/base/"></script>-->

        <script type="text/javascript" src="../../Content/static/CACHE/js/812abdebffc1.js"></script>




        <!-- Layout Scripts Dependencies - END -->
        <!-- View Scripts -->

        <script type="text/javascript" src="../../Content/static/CACHE/js/b79911a9f90e.js"></script>



        <script type="text/javascript" src="../../Content/static/CACHE/js/4aedd8fe4f14.js"></script>


        <!-- View Scripts - END -->

        <script type="text/javascript">
            if ($.pnotify) {
                $.pnotify.defaults.styling = "bootstrap";
                $.pnotify.defaults.opacity = 0.9;
                //$.pnotify.defaults.nonblock = true;
                $.pnotify.defaults.nonblock_opacity = 0.3;
                //$.pnotify.defaults.history = false;
                $.pnotify.defaults.stack.spacing1 = 20;
            }

            if ($.blockUI) {
                $.blockUI.defaults.baseZ = 800;
                $.blockUI.defaults.css.border = 'none';
                $.blockUI.defaults.message = 'Loading ...';
            }

            $(document).ready(function () {
                //$('select').selectpicker();
                $('.clean-empty option[value=]').remove();
                $('.clean-empty input:radio[value=]').parent().remove();

                $('#ui-language-slection-form select').on('change', function (e) {
                    this.form.submit();
                });
                $('#ui-language-slection-form button').hide();



            });
        </script>


</body>
</html>
